/* The original jQuery Mobile values are included in comments 
 * after each property.
 */

/* Reason: Want Footer at bottom, always */
.ui-page .ui-footer { position: absolute; bottom: 0px; left: 0px; }
/* Original JQM: .ui-page .ui-footer { position: relative; }
 */

#scroller ul {
	padding:0;
	margin:0;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:30px;
	line-height:30px;
}